<div class="grid">
    <div class="span-col-2">                    
        <img src="{{ result.thumbnail }}" class="product-mini-img" alt="...">
    </div>
    <div class="span-col-3">
        <p class="product-price">{{ result.price }} $ <span *ngIf=" result.shipping.free_shipping "><img src="../../../assets/img/ic_shipping.png" alt=""></span></p>
        <p class="product-description"> {{ result.title }}</p>
    </div>
    <div><p class="product-location">{{ result.address.state_name }}</p></div>
</div>

